@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

#root {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Estilo de la scrollbar completa */
::-webkit-scrollbar {
  width: 10px;
}

/* Fondo de la scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Estilo del pulgar (thumb) de la scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Estilo del pulgar al pasar el cursor sobre él */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
